.menu-icon {
    display: none;
    width: 30px;
    height: 30px;
    background-image: url(../img/menu/menu-icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.menu-wrapper {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: #ffffff;
    transition: all 0.3s;
    z-index: 9999;
}
.menu-wrapper.active {
    height: 100vh;
    padding: 20px;
}
.munu-soceal,
.menu-list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
}
.menu-list {
    margin-bottom: 40px;
}
.menu-list li {
    display: block;
    margin-bottom: 30px;
}
.menu-list__item {
    display: block;
    text-decoration: none;
    color: #1F1F1F;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}
.menu-contact___number {
    text-align: center;
    color: #1F1F1F;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    padding: 2px 0;

}
.menu-contact___text {
    text-align: center;
    color: #1F1F1F;
    font-weight: 600;
    font-size: 16px;
    padding: 2px 0;
    margin: 0;
}
.munu-soceal {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.munu-soceal li {
    margin-right: 35px;
}
.munu-soceal li:last-child {
    margin-right: 0;
}
.munu-soceal__item {
    display: block;
    text-decoration: none;
    font-size: 0;
    width: 25px;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.telegram {
    background-image: url(../img/menu/telegram.svg);
}
.instagram {
    background-image: url(../img/menu/instagram.svg);
}
.faceboock {
    background-image: url(../img/menu/facebook.svg);
}
.menu-close {
    position: absolute;
    display: block;
    right: 30px;
    top: 30px;
    width: 20px;
    height: 20px;
    background-image: url(../img/menu/close.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


@media (max-width: 760px) {
    .menu-icon {
        display: block;
    }
}